<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="display: flex; flex-direction: column">
        <div style="display: flex; flex-direction: row;">
            <img width="110px" height="110px" style="width: 110px; height: 110px; margin: 10px;" src="https://media-exp1.licdn.com/dms/image/C4E0BAQEUd3kVUVBEAw/company-logo_200_200/0/1519856246191?e=2159024400&amp;v=beta&amp;t=Xma4EUmGQlDS0G-P8sMgVNwHp65Cxm-veRKjuMj82qc">
            <div style="display: flex; flex-direction: column; border-left: red; border-left-width: thin; border-left-style: solid; padding-left: 10px;">
                <h5>Friday, 14:30 - 15:30</h5>
                <h4>Live pitch practice with other founders and experts</h4>
                <ul>
                    <li>early stage startups</li>
                    <li>up to 3 minutes long pitch</li>
                    <li>pitch deck is optional</li>
                </ul>
                <div style="display: flex;">
                    <a style="margin-left: auto; border: none; background: #8b6efa; color: white; height: 30px; width: 60px; border-radius: 10px; text-decoration: none; text-align: center" href="{{item.apply}}">Apply</a>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <img width="110px" height="110px" src="public/media/images/branding/wtia_sq.png"/>
        </div>
    </div>
</body>
</html>
